/**
 * @author jinxl
 * @date 2018/01/10
 * @module 招聘后台
*/

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.logo{
  padding-left: 32px;
  //background:  url('../images/logo.png') no-repeat left center;
}
/*清除*/
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.iconfont{
  width: 24px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}
.hide{
  display: none;
}
.split-line{
  margin: 30px 0px;
  border-bottom:1px dashed #f2f2f2;
}
/*---仅chrome--*/
::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  height: 50px;
  outline-offset: 0px;
  outline: 1px solid #333;
  -webkit-border-radius: 4px;
  border: 1px solid #fff;
}
/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #a0a0a0;
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0;
}
.test{
  border:1px solid red;
  box-sizing: border-box;
}
/*自定义通用表格样式*/
.w-table .operate{
  color :#3a9eff;
  cursor :pointer;
}
.w-table .operate>i{
  padding: 0px 5px;
}
.w-table-btn{
  padding :20px 0px;
  color: #666666;
  font-size :14px;
}
.w-table-btn>span{
  position: relative;
  margin-right :30px;
  cursor :pointer;
}
.w-table-btn>span input{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
.w-table-btn>span input:hover{
  cursor: pointer;
}
.w-table-btn>span.active,
.w-table-btn>span:hover{
  color :#3a9eff;
}
.w-table-btn>span>i{
  margin-right :10px;
  font-size :14px;
}
.w-table-btn_tip{
  float: right;
  color: #999;
  font-size: 14px;
}
.w-table-btn_tip>span{
  margin-left: 30px;
}
.w-table .operate>i.icon-look-over{
  font-size :14px;
}
.w-table-page{
  padding :20px 0px 15px;
  text-align :right;
}
.w-table-content table{
  color :#666;
  font-size :12px;
}
.w-table-content table th{
  color :#333333;
  font-size :14px;
  background :#f5f5f5;
}
/*developing*/
.developing{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #b8bec5;
  background: -webkit-linear-gradient(purple, palevioletred);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
